body{
font-family: Arial, sans-serif;
margin:0;
background:#0B1426;
color:white;
text-align:center;
}

section{
padding:80px 20px;
}

h1{
font-size:40px;
}

h2{
font-size:32px;
color:#C6FF2E;
}

p{
max-width:700px;
margin:auto;
line-height:1.6;
color:#A9B3C1;
}

button{
background:#C6FF2E;
color:#0B1426;
border:none;
padding:15px 30px;
font-size:18px;
border-radius:8px;
margin-top:20px;
cursor:pointer;
}

button:hover{
opacity:0.9;
}

.steps{
display:flex;
justify-content:center;
gap:40px;
flex-wrap:wrap;
margin-top:40px;
}

.step{
max-width:250px;
}
